<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Home</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>

        {% include "navbar.twig" %}

        {% set url = asset('image/cock-bg.jpg') %}
        {% set css = 'no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;' %}
        <div id="background-image" style="background: url({{ url }}) {{ css }} "></div>
        <div id="background-overlay"></div>
        {% block content %}{% endblock %}
    </body>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="//www.gstatic.com/firebasejs/5.3.0/firebase.js"></script> -->
    <!-- <script src="{{ asset('/scripts/scripts.js') }}"></script> -->
</html>
